// WiFi
#define WIFI_SSID "YOUR_SSID"
#define WIFI_PASSWORD "YOUR_PASSWD"

// MQTT
#define MQTT_NAME "ESP-Greenhouse"
#define MQTT_HOST "192.168.0.42"
#define MQTT_PORT 8883
#define MQTT_PUB_INTERVAL 10000
#define MQTT_MSG_COOLDOWN 100
#define MQTT_NEEDS_ENCRYPTION 1
#if MQTT_NEEDS_ENCRYPTION
#define MQTT_FINGERPRINT "9F B6 69 93 2B C3 E6 31 48 F7 BC 60 FB A8 79 FB DA FB 2A EA"
#endif
#define MQTT_NEEDS_AUTH 0
#if MQTT_NEEDS_AUTH
#define MQTT_USERNAME "YOUR_USERNAME"
#define MQTT_PASSWORD "YOUR_PASSWORD"
#endif
#define MQTT_PUB_TEMP "/greenhouse/air/temperature"
#define MQTT_PUB_HUM "/greenhouse/air/humidity"
#define MQTT_PUB_IDX "/greenhouse/air/heatindex"
#define MQTT_PUB_SOIL "/greenhouse/soil/moisture"
#define MQTT_PUB_PUMP "/greenhouse/pump/power"
#define MQTT_PUB_FAN "/greenhouse/fan/power"
#define MQTT_PUB_LUX "/greenhouse/sun/lux"
#define MQTT_PUB_UV "/greenhouse/sun/uv"
#define MQTT_PUB_UVI "/greenhouse/sun/uvindex"